body {
    font-family: Montserrat, sans-serif;
    margin-top: 60px;
    background-color: #191617;
   
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    font-weight:400;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container {
    max-width: 800px;
    margin: 0 auto;
    color: grey;
    font-family: sans serif;
    padding-left: 20px;
    padding-right: 20px;
}

